loguru
networkx
opencv-python==4.7.0.72
scipy==1.10.1
numpy
shapely
websocket-client
msgpack
msgpack_numpy
websockets
omegaconf
hydra-core
py-trees==0.8.3
docker
tqdm
tabulate
pyzmq
setuptools
Pillow==9.5.0
natsort
packaging
matplotlib
pydantic
deap